/* Уникальные стили страницы tumski03 */

.image {
    background-image: url('media/tumski/dwor_06.jpg');
}

.next-image-container {
    background-image: url('media/tumski/dwor_07.jpg');
}

/* Индивидуальные размеры области стрелки назад на этой странице */
.custom-cursor-backarea {
    width: 60%;
    height: 25%;
} 

