/* Уникальные стили страницы tumski06 */

.image {
    background-image: url('media/tumski/tumski_06.jpg');
}

.next-image-container {
    background-image: url('media/tumski/tumski_07.jpg');
}

/* Индивидуальные размеры областей стрелок */
.custom-cursor-backarea {
    width: 60%;
    height: 25%;
}

.custom-cursor-leftarea {
    width: 150px;
    height: 150px;
}

/* Уникальная квест‑метка */
#bogomater_quest {
    background-image: url('media/mapmarknb.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

