/* Уникальные стили страницы tumski06 */

.image {
    background-image: url('media/tumski/tumski_12.jpg');
}

.next-image-container {
    background-image: url('media/tumski/tumski_13.jpg');
}

/* Стили для стрелки прямо влево */
.custom-cursor-prosto-leftarea {
    right: auto;
    bottom: auto;
    width: 20%;
    height: 15%;
}

/* Индивидуальные размеры областей стрелок */
.custom-cursor-backarea {
    width: 60%;
    height: 25%;
}

/* Индивидуальные размеры области стрелки влево */
.custom-cursor-leftarea {
    width: 350px;
    height: 500px;
}



/* Уникальная квест‑метка */
#bogomater_quest {
    background-image: url('media/mapmarknb.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}



